*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    justify-content: center;
    height: 100px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 900px;
}

img{
    width: 100px;
}

.logo{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.menu{
    display: flex;
    align-items: center;
    padding-right: 20px;
}

nav ul,
nav li{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav ul{
    display: flex;
}

nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}

nav .active a,
nav a:hover{
    background: #000000;
    color: white;
}

#banner{
    display: flex;
    justify-content: center;    
    height: 600px;
}

.fundo{
    background-image: url(imagem/banner.jpg);
    background-position: right;
    background-size: cover;
}

.texto{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.resume{
    width: 200px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

#banner h1{
    font-size: 60px;
    text-align: center;
    font-weight: 100;
    text-shadow: 0px 2px 10px #FFFFFF;
    line-height: 70px;
    font-family:'Pacifico', cursive;
}

#section2{
    display: flex;
    justify-content: center;     
    height: auto;
}

.information{
    display: flex;
}

.personal-information{
    flex: 1;
}

.timeline{
    flex: 1;
    border: 1px solid black;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

section .title{
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
}

.personal{
    color: white;
    background-color: #000000;
    padding-top: 20px;
}
.info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid white;
}

.info h2{
    font-size: 14px;
    text-transform: uppercase;
}



.discography{
    padding-bottom: 20px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    color: white;
    background-color: black;
}

.disco dl{
    font-weight: bold;
    margin-left: 20px;
}

.title2{
    padding-top: 20px;
}

.disco ul li{
    font-weight: bold;
}

#section3{
    display: flex;
    justify-content: center;     
    height: auto;    
}

.awards{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-weight: bold;
    color: #000000;
    background: rgb(211, 190, 72);
}

footer{
    display: flex;
    justify-content: center;
    height: 100px;
}

.footer{
    background: black;
}

.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}